.providers-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.provheader-container {
  background-color: rgb(233, 233, 233);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.provheader-container h1 {
  width: 30%;
}

.provmain-container {
  width: 60%;
  margin-bottom: 5%;
}
.provmain-container h1 {
  margin: 5% 0;
}
.prov-sidebyside {
  /* background-color: lightsalmon; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.prov-text {
  background-color: rgba(211, 211, 211, 0.267);
  width: 30%;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 5px;
  border-radius: 10px;
  border-style: solid;
  padding: 1rem;
  border-image: linear-gradient(to right, #7b0303, #cfcfcf) 1 50;
  font-weight: 300;
  font-size: larger;
}
.prov-img {
  width: 30%;
}

.provben-container {
  background-color: lightcoral;
}

.provcta-container {
  background-color: lightgreen;
}