.team-image {
  transform:scale(1);
  .dark-background {
    background:rgba(0,0,0,.0);
    animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    .team-modal {
      
      animation: scaleUp .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
  }
   .team-background {
    animation: scaleBack .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  }
  &.out {
    animation: quickScaleDown 0s .5s linear forwards;
    .dark-background {
      animation: fadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      .team-modal {
         animation: scaleDown .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      }
    }
    + .team-background {
      animation: scaleForward .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
  }
}

@keyframes fadeIn {
  0% {
    background: rgba(255, 255, 255, 0.466);
  }
  100% {
    background: #fff;
  }
}

@keyframes fadeOut {
  0% {
    background: #fff;
  }
  100% {
    background:rgba(0,0,0,.0);
  }
}

@keyframes scaleUp {
  0% {
    transform:scale(.8) translateY(1000px);
    opacity:0;
  }
  100% {
    transform:scale(1) translateY(0px);
    opacity:1;
  }
}

@keyframes scaleDown {
  0% {
    transform:scale(1) translateY(0px);
    opacity:1;
  }
  100% {
    transform:scale(.8) translateY(1000px);
    opacity:0;
  }
}

@keyframes scaleBack {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(.85);
  }
}

@keyframes scaleForward {
  0% {
    transform:scale(.85);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes quickScaleDown {
  0% {
    transform:scale(1);
  }
  99.9% {
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}