/* APP.CSS IS ALL THE HOME PAGE STYLES. NOTHING ELSE IS IN THIS STYLESHEET, AND THERE AREN'T HOME PAGE STYLES ELSEWHERE except responsive design*/ 

/* NAV BAR */
nav {
  -webkit-box-shadow: 0px 2px 18px 2px rgba(0,0,0,0.03); 
  box-shadow: 0px 2px 18px 2px rgba(0,0,0,0.03);
}

ul {
  list-style-type: none;
}

.home-link {
  color: #7b0303;
}

.link { 
  text-decoration: none;
  color: black;
}
.link:hover {
  color: #7b0303;
}
.t-link {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  top: 7px;
}
.contact-button {
  border: none;
}
.contact-button:hover {
  background-color: whitesmoke;
  border: 1px solid white;
  color: #7b0303;
}
.nav-img {
  height: 48px;
  width: 48px;
  /* margin: 40px 0px 40px -150px; */
}
/* #navbarScroll {
  margin:  40px 0px 40px 750px;
} */
.navbar-wrapper {
position: fixed;
display: flex;
flex-direction: row;
justify-content: space-between;
width: 25vw;
height: 10vh;
background-color: white;
z-index: 1;
}
.navbar-nav-scroll {
  background-color: white;
  max-height: 300px !important;
  position: relative;
  bottom: 20px;
}
.navbar-collapse {
  position: relative;
  top: 21px; 
} 
nav {
  background-color: white;
}
.nav-links {
  position: absolute;
  top: 40px;
  display: flex;
  justify-content: space-around;
  width: 75vw;
  background-color: white;
}


.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  /* top: 60px;
  right: 0; */
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  z-index: 6;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
  
}
.navbar-spacing {
  display: flex;
  justify-content: space-between;
  z-index: 1;   
  height: 10vh;
}

#navbarScrollingDropdown {
  color: #333333;
}

/* VIDEO */
.background-video {
  position: relative;
  /* background-color: black; */
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  bottom: 22vh;
}

.prev-clip {
  position: absolute;
  margin-top: 70vh;
  /* top: 50%; */
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.logo-wrapper {
  position: relative;
  top: 30vh;
  /* z-index: 1; */
}
.prev-logo {
  height: 20vh;
  position: relative;
  
}

/* GROUPS SECTION */
.group-parent {
  background-color: #7b0303;
  color: #CFCFCF;
  position: relative;
  bottom: 25vh;
  padding-bottom: 10vh;
}
.group-parent > h1 {
  padding: 40px;
}
.group-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.group-item {
  width: 400px;
}
.group-img {
  width: 100%;
  height: auto;
}
.caption {
  text-align: left;
  line-height: 2;
  font-weight: 400;
}
p {
  text-align: left;
  line-height: 1.8;
}

  /* SPECIALITIES SECTION */
  .specialties-outer {
    background-color: white;
    margin-top: -15vh;
  }
  .specialties-inner {
    display: flex;
    justify-content: center;
    padding-bottom: 10vh;
  }
  .specialty-parent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
    margin-top: 50px;
  }
  .specialty-item {
    width: 275px;
    
  }
  .specialty-img-container {
    overflow: hidden;
  }
  .specialty-img {
    width: 100%;
    height: 215px;
    transition: all .8s ease-in-out;
  }
  .specialty-img:hover {
    transform: scale(1.5); 
  }
  .spec-title {
    margin-bottom: 50vh;
  }
  .specialty {
    line-height: 2;
  }

  /* MULTI CAROUSEL (LOGOS) HOME */
  .logo-carousel {
    background-color: #7b0303;
    height: 25vh;
  }

  .org-logo {
    padding: 15px;
    height: 200px;
    width: 200px;
    position: relative;
    top: 15px;

  }
  .logo-caption {
    position: relative;
    top: 15px;
    left: 5px;
  }
  .DHA {
    padding-top: 70px;
    height: 135px;
    width: 150px;
  }
  .lds{
    height: 200px;
    width: 150px;
    position: relative;
    top: 15px;
  }
.wsd{
  padding-top: 70px;
  height: 135px;
  width: 250px;
}
.carouselHome {
  background-color: #7b0303;
}

/* TESTIMONIAL CAROUSEL HOME */
.testimonial-logo {
  height: 35px;
  width: 35px;

}
.client-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.client-container > p {
  line-height: 2.5;
}
.client-container > span {
  font-weight: bolder;
}
.paragraph {
  width: 65vw;
  /* padding-left: 35vw; */
}
.paragraph > p {
  line-height: 2.5;
  
}
.container > h1 {
  line-height: 3;
}

.testimonial-outer > h1 {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

/* FOOTER */
.footer-outer {
  background-color: #7b0303;
  color: #CFCFCF;
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
  text-align: left;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  background-color: #7b0303;
  width: 100vw;
}
.about > p {
  width: 30vw;
}
.about > h5 {
  text-align: left;
  line-height: 4;
}
.contact > h5 {
  text-align: left;
  line-height: 4;
}
.about {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.contact {
  margin-top: 10vh;
  margin-bottom: 10vh;
}



 