@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');

.App {
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */ */
.home-text {
  position: relative;
  top: 10vh;
}

ul {
  list-style-type: none;
}

.home-link {
  color: #7b0303;
}
.contact-button:hover {
  background-color: #7b0303;
  border: 1px solid white;
  color: white;
}
.nav-img {
  height: 48px;
  width: 48px;
  margin: 40px 40px 40px 80px;
}

.navbar-wrapper {
position: fixed;
display: flex;
flex-direction: row;
justify-content: space-between;
width: 25vw;
height: 10vh;
background-color: white;
z-index: 1;
}

.nav-links {
  position: absolute;
  top: 40px;
  display: flex;
  justify-content: space-around;
  width: 75vw;
  background-color: white;
}


.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  /* top: 60px;
  right: 0; */
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}

.background-video {
  position: relative;
  /* background-color: black; */
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  /* bottom: 10vh; */
}

.navbar-spacing {
  display: flex;
  justify-content: space-between;
}

.prev-clip {
  position: absolute;
  margin-top: 70vh;
  /* top: 50%; */
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.logo-wrapper {
  position: relative;
  top: 30vh;
  z-index: 1;
}
.prev-logo {
  height: 20vh;
  position: relative;

}

.group-wrapper {
  display: flex;
  justify-content: space-evenly;
}

p {
  text-align: left;
}

.group-parent {
  background-color: #7b0303;
  color: #CFCFCF;
  position: relative;
  bottom: 10vh;
  padding-bottom: 10vh;
}
 .group-parent > h1 {
   padding: 40px;
 }
  .group-img {
    height: 300px;
    width: 400px
  }
  .group-img-1 {
    height: 275px;
    width: 350px;
  }

  .caption {
    text-align: left;
    line-height: 2;
    font-weight: 400;
  }

  p {
    line-height: 1.8;
  }

  .specialty-img {
    height: 250px;
    width: 350px;
  }

  .specialties-outer {
    background-color: white;
  }
  .specialties-inner {
    display: flex;
    justify-content: center;
  }
  .specialty-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
  }
  .specialty {
    line-height: 2;
  }

  .logo-carousel {
    background-color: #7b0303;
    height: 25vh;
  }

  .org-logo {
    padding: 15px;
    height: 200px;
    width: 200px;
  }
  .logo-caption {
    position: relative;
    top: 15px;
    left: 5px;
  }
  .DHA {
    padding-top: 70px;
    height: 135px;
    width: 150px;
  }
  .lds{
    height: 200px;
    width: 150px;
  }
.wsd{
  padding-top: 70px;
  height: 135px;
  width: 250px;
}
.carouselHome {
  background-color: #7b0303;
}

.testimonial-logo {
  height: 35px;
  width: 35px;
}
.client-container > p {
  line-height: 2.5;
}
.client-container > span {
  font-weight: bolder;
}
.paragraph {
  width: 65vw;
  padding-left: 35vw;
}
.paragraph > p {
  line-height: 2.5;
}
.container > h1 {
  line-height: 3;
}
.testimonial-outer > h1 {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.footer-outer {
  background-color: #7b0303;
  color: #CFCFCF;
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
  text-align: left;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  background-color: #7b0303;
  width: 100vw;
}
.about > p {
  width: 30vw;
}
.about > h5 {
  text-align: left;
  line-height: 4;
}
.contact > h5 {
  text-align: left;
  line-height: 4;
}
.about {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.contact {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.team-flex {
  display: flex;
  justify-content: space-around;
}
.team-background {
  background-color: #7b0303;
  color: #CFCFCF;
}
.team-img {
  height: auto;
  width: 100%;
  padding: 25px;
}
.thumb__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.33;
  text-align: center;
}
.thumb__subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.71429;
  font-style: italic;
  text-align: center;
}
.thumb-corporate__caption {
  margin-top: 10px;
}
.team-spacing {
  padding-top: 8vh;
  padding-bottom: 5vh;
}
.team-inner {
  padding-bottom: 3vh;
}
.team-inner > h2 {
  font-size: 40px;
}