@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Cinzel&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



.App {
  text-align: center;
  /* font-family: 'Open Sans', sans-serif; */
  -webkit-font-smoothing: subpixel-antialiased;
  /* font-family: 'Fredoka One', cursive; */
  /* font-family: 'Kaushan Script', cursive; */
  /* font-family: 'Sacramento', cursive; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Libre Franklin', sans-serif;
  box-sizing: border-box;
}

/* ClassName for <a> tags is "a" */
.a {
  text-decoration: none;
  color: #0e0e0e;
}
.a2 {
  text-decoration: none;
  color: #cfcfcf;
}
.a2:hover {
  color: black;
}

/* p {
  font-family: 'Montserrat', sans-serif;

} */