@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');

.App {
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  box-sizing: border-box;
}

/* ClassName for <a> tags is "a" */
.a {
  text-decoration: none;
  color: #0e0e0e;
}
.a2 {
  text-decoration: none;
  color: #cfcfcf;
}
.a2:hover {
  color: black;
}