/* ---------------------TEAM------------------------ */ 
.team-flex {
  display: flex;
  justify-content: space-around;
}
.team-background {
  background-color: #7b0303;
  color: #CFCFCF;
}
.team-img {
  height: auto;
  width: 100%;
  padding: 25px;
}
.thumb__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.33;
  text-align: center;
}
.thumb__subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.71429;
  font-style: italic;
  text-align: center;
}
.thumb-corporate__caption {
  margin-top: 10px;
}
.team-spacing {
  padding-top: 8vh;
  padding-bottom: 5vh;
}
.team-inner {
  padding-bottom: 3vh;
}
.team-inner > h2 {
  font-size: 40px;
}

/*--------------------- PUBLIC SAFETY--------------------- */ 

.liaison {
  background-color: transparent;
  display: inline-block;
  width: auto;
  max-width: 100%;
  border: 1px solid #e0e0e3;
  color: #CFCFCF;
  border-radius: 3px;
  padding: 12px 30px;
  font-size: 12px;
  line-height: 24px;
  font-family: "Libre Franklin", ;
  font-weight: 600;
  letter-spacing: .06em;
  transition: .33s all ease;
  white-space: normal;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}
.liaison:hover {
  background-color: whitesmoke;
  color: black;
}
.button-parent {
  display: flex;
  justify-content: center;
  margin-bottom: 8vh;
  margin-top: 8vh;
}
.PS-Outer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.PS-Left {
  background-color: #7b0303;
  color: #CFCFCF;
  width: 100%;
}
.Left-inner > h1 {
  margin-top: 50px;
  font-size: 50px;
}
.Left-inner {
  text-align: center;
}
.ps-pros {
  box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.5);
  background-color: whitesmoke;
  border: none;
  color: black;
  height: 525px;
  z-index: 1;
  /* position: relative;
  left: 5vw;
  top: 3vh; */
  padding: 5vh .5vw 0vh .5vw;
}
.ps-para {
  width: 60vw;
  position: relative;
  left: 20vw;
  font-size: 18px;
}
.ps-para > p {
  text-align: center;
}
.PS-list-outer {
  /* width: 75vw;
  position: relative;
  left: 12vw; */
  top: 50px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  right: 10vw;
}
.PS-list-outer h4 {
  text-align: left;
  font-size: 30px;
}
.PS-List {
  text-align: left;
  font-weight: bolder;
  font-size: 20px;
  line-height: 35pt;
}
.fireFighter-img {
  width: auto;
  height: auto;
  
  /* box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.5); */
}
.fireFighter-img1 {
  width: 33.3%;
  height: auto;

  box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.5);
-webkit-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.5);
}
.fireTruck2 {
  width: 33.3%;
  height: auto;
  box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.5);
-webkit-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.5);
}

.ps-img-container {
  background-color: #7b0303;
  /* display: grid; */
}
.icon-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 215px;
  height: 215px;
  border: 2px solid #CFCFCF;
  border-radius: 50%;
}
.icon-item > p {
  text-align: center;
}
.react-multi-carousel-item {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.icon {
  font-size: 30px;
}
.icon-light {
  color: #CFCFCF;
  font-size: 30px;
  text-align: center;
}
.ps-icon-para {
  font-size: 16px;
  text-align: center;
  width: 70%;
}
.ps-icon-para > p {
  text-align: center;
}
.ps-icon-para-rapid {
  font-size: 15px;
  text-align: center;
  width: 80%;
}
.ps-icon-para-rapid > p {
  text-align: center;
}
/* .PS-Carousel {
  width: 80%;
  position: relative;
  margin-left: 10px;
} */
.ps-carousel-container {
  width: 100%;
  position: relative;
  left: 0px;
}


/* -------------------HUMANITARIAN------------------------ */
.hum-outer {
  background-color: #7b0303;
  color: #CFCFCF;
  text-align: center;
  padding-top: 30px;
  padding-left: 10vw;
}
.hum-para-container > p {
  text-align: center;
}
.hum-carousel-img {
  width: 75%;
  height: auto;
}
.hum-left-top {
  padding: 20px;
  position: relative;
  right: 5vw;
}
.hum-left-top > h1 {
  font-size: 60px;
}
.achf-img-container {
  padding: 10px;
  margin-bottom: 20px;
}
/* needed for the humanitarian image carousel, but it does effect all the other carousels. */
/* .react-multi-carousel-track {
  left: 80px
} */


/* ---------------------FAITH BASED------------------ */
.faith-inner {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../images/sky.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
.faith-paragraphs-container > p {
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  padding: 5vh;
}
.faith-paragraphs-container > p:hover {
  color: white;
}
.faith {
  padding: 5vh;
  font-size: 50px;
  font-weight: 400;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 85vw;
  flex-wrap: wrap;
  position: relative;
  right: 8vw;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  padding: 20px;
  width: 200px;
}
.icon > p {
  font-size: 20px;
  text-align: center;
}

.icon-circle {
  font-size: 30px;
  border: 1px solid black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-circle:hover {
  background-color: white;
  border: 2px solid white;
}
.faith-button-parent {
  padding-bottom: 20px;
}
.faith-liaison {
  background-color: whitesmoke;
  display: inline-block;
  width: auto;
  max-width: 100%;
  border: 1px solid #e0e0e3;
  color: #CFCFCF;
  border-radius: 3px;
  padding: 12px 30px;
  font-size: 12px;
  line-height: 24px;
  font-family: "Libre Franklin", ;
  font-weight: 600;
  letter-spacing: .06em;
  transition: .33s all ease;
  white-space: normal;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}
.faith-liaison:hover {
  background-color: transparent;
  color: black;
  cursor: default; 
}


/*-----------------PROFESSIONAL-------------------*/
.pro-inner {
  padding: 20px;
  text-align: left;
  background-image: url('../images/waterLily.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.pro-container > h1 {
  padding-top: 40px;
  padding-bottom: 20px;
}
.pro-para > p {
  padding-bottom: 100px;
  font-weight: 600;
}
.liaison-dark {
  background-color: transparent;
  display: inline-block;
  width: auto;
  max-width: 100%;
  border: 1px solid rgb(22, 22, 22);
  color: rgb(22, 22, 22);
  border-radius: 3px;
  padding: 15px 35px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Libre Franklin", ;
  font-weight: 800;
  letter-spacing: .06em;
  transition: .33s all ease;
  white-space: normal;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}
.liaison-dark:hover {
  background-color: rgba(245, 245, 245, 0.582);
}
/*----------------------CORRECTIONAL FACILITIES-------------------*/
.corr-inner {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../images/leaf.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover; 
  height: 100%;
  color: white;
}
.corr-inner > h1 {
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 60px;
  font-weight: 600;
  font-style: italic;
  
}
.corr-para > p {
  font-size: 20  px;
  padding: 20px;
  font-weight: 500;
  text-align: center;
}
.button-parent-corr {
  padding-bottom: 50px;
}
.cor-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  padding-top: 20px;
  /* padding-left: 20px; */
  /* padding-right: 40px; */
  width: 250px;
}
.carousel-container-cor {
  width: 100vw;
  position: relative;
  right: 100px;
}

.cor-icon > p {
  font-size: 20px;
  text-align: center;
}
.icon-circle-cor {
  font-size: 30px;
  border: 1px solid black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-circle-cor:hover {
  background-color: black;
  color: white;
}
/* K12 */
.k12-inner {
  background-color: #7b0303;
  /* text-align: center !important; */
  color: #CFCFCF;
}
.k12-inner > h1 {
  padding: 25px;
  font-size: 40px;
}
.k12-inner > p {
  /* text-align: center !important; */
  font-size: 20px;
  /* font-weight: 500; */
  padding-left: 25px;
  padding-right: 2px;
}
.k12 {
  /* text-align: center !important; */
  font-size: 20px;
  /* font-weight: 500; */
  padding-left: 25px;
  padding-right: 2px;
}
.k12 > p {
  text-align: center;
}
.k12-img {
  max-width: 375px;
  padding: 30px;
}
.k12-liaison {
  padding: 40px;
}
.k12-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
  /* margin-right: 150px; */
}

.k12-paragraph > p  {
  text-align: center;
}
/* ---------------------CORPORATIONS-------------------- */
.corp-outer {
  background-color: #7b0303;
  color: #CFCFCF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.corp-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  /* position: relative; */
  /* left: 5vw; */
}
.corp-inner > img {
  width: 80%;
  height: auto;
}
.corp-outer > h1 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.corp-paragraph > p {
text-align: center;
font-size: 18px;
}
.button-parent-corp {
  padding-top: 100px;
  padding-bottom: 50px;
}
.corp-inner > img:hover {
  -webkit-box-shadow: 0px 20px 35px -16px rgba(255, 255, 255, 0.65);
  -moz-box-shadow: 0px 20px 35px -16px rgba(255, 255, 255, 0.65);
  box-shadow: 0px 20px 20px -10px rgba(255, 255, 255, 0.65),
              0px -20px 20px -10px rgba(255, 255, 255, 0.65);
}
.box-shadow-slow {
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}
/* --------------MILITARY--------------- */

.mili-inner {
  background-image: url('../images/fadedflag.jpg');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mili-inner > h1 {
  padding: 40px 0px 40px 0px;
  font-size: 50px;
}
.mili-img {
  width: 406px;
  height: 406px;
  border-radius: 50%;
  margin-bottom: 50px;
}
.mili-paragraph {
  text-align: center;
  /* width: 40vw; */
  font-size: 18px
}
.mili-paragraph > p {
  text-align: center;
}
.button-parent-mili {
  padding: 40px 0px 100px 0px;
}
.liaison-mili {
  background-color: transparent;
  display: inline-block;
  width: auto;
  max-width: 100%;
  border: 1px solid rgb(31, 31, 31);
  color: rgb(31, 31, 31);
  border-radius: 3px;
  padding: 12px 30px;
  font-size: 12px;
  line-height: 24px;
  font-family: "Libre Franklin", ;
  font-weight: 600;
  letter-spacing: .06em;
  transition: .33s all ease;
  white-space: normal;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}
.mili-counters {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
}
.counter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 200px;
  padding-bottom: 10px;
}
.counter > h2 {
  font-size: 35px;
}
.counter-icon {
  font-size: 40px;
  color: #7b0303
}

/* --------------CONTACT--------------- */
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  height: 75vh;
  margin-top: 50px;
  margin-bottom: 70px;
}
.contact-form > h1 {
  text-align: left;
}
.contact-details {
  margin-top: 45px;
  margin-bottom: 140px;
}
.contact-details > h5 {
  text-align: left;
}
.contact-details > h1 {
  text-align: left;
}
.socials {
  width: 30%;
  font-size: 32px;
  display: flex;
  justify-content: space-between;
}
.social {
  color: #7b0303;
}
.social:hover {
  color: #7b0303a4;
}
.contact-outer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.background {
  background-image: url('../images/handsin.jpg');
  position: relative;
  isolation: isolate;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.726), rgba(240, 240, 240, 0.863) );
}

.contact-input {
  width: 350px;
  min-height: 50px;
  border-radius: 5px;
  border: none;
  text-align:center;
}
.contact-input:focus {
  outline: 1px solid #7b0303;
}
.input-icons {
  position: absolute;
  margin-top: 12px;
  margin-right: 5px;
  color: #7b0303a4;
  min-width: 50px;
  font-size: 25px;
  text-align: center;
}
.form-btn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #7b0303;
  color: #CFCFCF;  
}
.form-btn:hover {
  background-color: #CFCFCF;
  color: #7b0303;
}
/*-------------TRAININGS--------*/
.trainings-outer h1 {
  margin-bottom: 12vh;
}
.courses-container {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*------------- RESOURCES -----------*/
.resource-outer {
  margin-top: 5vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
#h3 {
  margin-top: 10vh;
  font-size: 50px;
}
.resource-input {
  margin-top: 7vh;
  width: 40vw;
}
.card-container {
  margin-top: 8vh;
  width: 65%;
}

.link2 {
  text-decoration: none;
  color: #CFCFCF;
}
.link2:hover {
  color: black;
}
.resources {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
}
.rsc-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.line {
  background-color: rgb(218, 218, 218);
  height: 1px;
  width: 100%;
  margin-top: 15px;
}

.airbb {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0;
}
.airbb2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
 }
.resourceImg {
  width: 275px;
  height: 180px;
  border-radius: 15px;
  box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.18);
  -webkit-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.18);
  -moz-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.18);
}
.airbb-texts {
  width: 600px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  /* padding-top: 4vh; */
}
.airbb-texts > h4 {
  font-weight: 900;
  color: #7b0303;
}
.airbb-texts p {
  font-size: 12px;
}
.airbb-texts > p:first-of-type {
  font-size: 14px;
}
.airbb-btn {
  border: none;
  border-radius: 50px;
  background-color: #7b0303;
  color: rgb(255, 255, 255);
}

/*----------- OFD TIPS --------*/

ol {
  text-align: left;
  line-height: 25pt;
}
ul {
  text-align: left;
  line-height: 25pt;
}
.LI {
  font-weight: bolder;
}
.tips-container {
  margin-top: 10vh;
}
.tips-container h1 {
  margin-top: 2vh;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}
.CIT h5:first-of-type {
margin: 5vh 0 5vh 0;
} 
.CIT h5 {
  font-weight: bolder;
}
.CIT p {
  margin-left: 5vw;
  line-height: 15pt;
}
.CRP {
  margin-top: 12vh;
  text-align: left;
}
.CRP h2 {
  margin-left: 5vw;
}
.phones {
  text-align: left;
  margin:  12vh 2vw 10vh 5vw;
}
/*-----SURVEYS-------*/

.survey {
  text-align: left;
  width: 90vw !important;
}

#surveyResult { 
  width: 60%;
  margin-left: 5vw;
}
