/*mobile*/
@media screen and (max-width: 480px) {
  .specialty-parent {
    display: flex;
    flex-direction: column;
  }
}
/*tablet*/
@media screen and (max-width: 900px ) {
  .background-video {
    position: relative;
    /* bottom: 40vh; */
  }
  .prev-logo {
    position: relative;
    bottom: 10vh;
    width: 100vw;
  }
  .group-parent {
    position: relative;
    bottom: 40vh;
  }
  .specialties-outer {
    position: relative;
    bottom: 20vh;
    left: 25vw;
    width: 50vw;
  }
  .specialty-parent {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    width: 80vw;
  }
  .specialty-img {
    width: 100%;
    height: auto;
  }
  .carouselHome {
    position: relative;
    bottom: 10vh;
  }
  .paragraph > p {
    font-size: 12px;
  }
  .paragraph {
    width: 80vw;
    position: relative;
    right: 5vw;
  }
  .about > p {
    font-size: 12px;
  }
  .contact > p {
    font-size: 12px;
  }
  /*Faith Based*/
  .icon-container {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    /* padding-left: 25%; */
    
  }
  .faith-paragraphs-container {
    width: 85vw;
    padding-left: 15%;
  }
} 
/*laptop*/
@media screen and (max-width: 1024px) {
  .specialty-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5vh;
  }
  .specialty-img {
    height: 115px;
    width: 150px;
    padding: 8px;
  }
  .specialty {
    color: black;
    font-size: 15px;
  }
  /* FAITH BASED*/
  .icon-container {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 85%;
    padding-left: 20%;
    
  }
  .faith-paragraphs-container {
    width: 85vw;
    padding-left: 15%;
  }
  .faith-icon {
    padding: 0px 0px 0px 0px;
    width: 350px;
  }

}

/* DESKTOP*/
@media screen and (min-width: 1200px) {
  .hum-outer {
    display: flex;
  }
  .hum-carousel-img {
    width: 700px;
    height: 700px;
  }
  .hum-right-bottom {
    width: 50vw;
  }
  .hum-carousel {
    position: relative;
    top: 10vh;
  }
  .hum-carousel-img-container {
    height: 700px;
    width: 700px;
  }
  .hum-outer {
    padding-bottom: 10vh;
  }
  /* faith based*/
  .icon-container {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80%;
    padding-left: 25%;
    
  }
  .faith-paragraphs-container {
    width: 85vw;
    padding-left: 15%;
  }
  
  
}
/*XL*/
@media screen and (min-width: 1500px) {
  .background-video {
    margin-top: 10vh;
  }
  .PS-Outer {
    display: flex;
  }
  .PS-Left {
    width: 50vw;
  }
  .PS-Right {
    width: 25vw;
    height: auto;
  }
  .fireFighter-img {
    height: auto;
    width: 50%;
  }
  .PS-Left > h1{
    font-size: 50px;
  }
  .PS-Left > p {
    font-size: 18px;
  }
  .PS-List > li {
    font-size: 18px;
  }
  .button-parent {
    padding-top: 100px;
  }
  /*Faith Based */
  .icon-container {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 75%;
    padding-left: 30%;
    
  }

}