/*mobile*/
@media screen and (max-width: 480px) {
  .specialty-parent {
    display: flex;
    flex-direction: column;
  }
}
/*tablet*/
@media screen and (max-width: 900px ) {
  .background-video {
    position: relative;
    /* bottom: 40vh; */
  }
  .prev-logo {
    position: relative;
    bottom: 10vh;
    width: 100vw;
  }
  .group-parent {
    position: relative;
    bottom: 40vh;
  }
  .specialties-outer {
    position: relative;
    bottom: 20vh;
    left: 25vw;
    width: 50vw;
  }
  .specialty-parent {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    width: 80vw;
  }
  .specialty-img {
    width: 100%;
    height: auto;
  }
  .carouselHome {
    position: relative;
    bottom: 10vh;
  }
  .paragraph > p {
    font-size: 12px;
  }
  .paragraph {
    width: 80vw;
    position: relative;
    right: 5vw;
  }
  .about > p {
    font-size: 12px;
  }
  .contact > p {
    font-size: 12px;
  }
} 
/*laptop*/
@media screen and (max-width: 1024px) {
  .specialty-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5vh;
  }
  .specialty-img {
    height: 115px;
    width: 150px;
    padding: 8px;
  }
  .specialty {
    color: black;
    font-size: 15px;
  }

}

/*XL*/
@media screen and (min-width: 1500px) {
  .background-video {
    margin-top: 10vh;
  }
  .PS-Outer {
    display: flex;
  }
  .PS-Left {
    width: 50vw;
  }
  .PS-Right {
    width: 25vw;
    height: auto;
  }
  .fireFighter-img {
    height: auto;
    width: 50%;
  }
  .PS-Left > h1{
    font-size: 50px;
  }
  .PS-Left > p {
    font-size: 18px;
  }
  .PS-List > li {
    font-size: 18px;
  }
  .button-parent {
    padding-top: 100px;
  }
}
/* DESKTOP*/
@media screen and (min-width: 1200px) {

}